body {
    background-color: #222c37;
}

#time {
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    font-size: 14vw;
    font-family: 'Share Tech Mono', monospace;
    font-weight: bold;
}

#ms {
    display: inline;
    color: #ffffff88;
    font-size: 7vw;
}

#base {
    font-size: 5vw;
    font-family: 'Share Tech Mono', monospace;
    color: #ffffffaa;
    position: absolute;
    bottom: 10vh;
    left: 50%;
    transform: translate(-50%, 0);
    font-weight: bold;
    display: inline-block;
    margin: 2vw;
}

#button {
    display: inline-block;
}

#clock-in {
    background-color: #34a853;
    top: 1vw;
    right: 1vw;
}

input[type="number"] {
    font-size: 5vw;
    text-align: center;
    background-color: #ffffff11;
    border: none;
    font-family: 'Share Tech Mono', monospace;
    color: #ffffffaa;
    -moz-appearance: textfield;
    width: 10vw;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}