.opinion {
    width: 10vw;
    height: 10vw;
    border-radius: 1vw;
    position: absolute;
}

.opinion-in {
    width: 5vh !important;
    height: 5vh !important;
}

#clock {
    top: 20%;
    left: 20%;
    background-color: #34a853;
}

#stopwatch {
    top: 20%;
    right: 20%;
    background-color: #4285f4;
}

#santa-claus {
    bottom: 20%;
    left: 20%;
    background-color: #ea4335;
}

#exit {
    background-color: aliceblue;
    top: 1vw;
    left: 1vw;
}

#alarm {
    bottom: 20%;
    right: 20%;
    background-color: #fbbc05;
}