body {
    background-color: #34a853;
}

#time {
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    font-size: 14vw;
    font-family: 'Share Tech Mono', monospace;
    font-weight: bold;
}

#ms {
    display: inline;
    color: #ffffff88;
    font-size: 7vw;
}

#master-in {
    right: 1vw !important;
    top: 1vw !important;
    background-color: #222222;
}